<%= form_with(model: labels_post) do |form| %>
  <% if labels_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(labels_post.errors.count, "error") %> prohibited this labels_post from being saved:</h2>

      <ul>
        <% labels_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label_id %>
    <%= form.text_field :label_id %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
